<!-- <app-first></app-first> -->



<!-- passing data from child to parent
passing data from parent to child -->
<!-- <app-parent></app-parent> -->



<!-- styles in angular -->
<!-- <app-angular-styles></app-angular-styles>
<br>
<app-angular-styles class="active"></app-angular-styles>
<br>
<div class="theme-styles">
    <app-angular-styles></app-angular-styles>
</div> -->



<!-- ng-content -->
<!-- <app-ng-content></app-ng-content> -->


<!-- template statements -->
<!-- <app-template-statements></app-template-statements> -->


<!-- pipes -->
<!-- <app-pipes></app-pipes> -->


<!-- property binding -->
<!-- <app-binding></app-binding> -->


<!-- template variable -->
<!-- <app-template-variable></app-template-variable> -->


<!-- directives -->
<!-- <app-directives></app-directives> -->


<!-- dependency injection -->
<!-- <app-dependency-injection></app-dependency-injection> -->


<!-- routing -->
<!-- <app-routing-example></app-routing-example> -->


<!-- forms -->
<!-- <app-forms></app-forms> -->

<!-- HTTP Client  -->
<app-http></app-http>
